html{
    
}
h1{
    color:white;
    padding: 50px auto auto 30px;
    margin:0;
    margin-left: 30px;
}    
header{
    display:block;
    text-transform: uppercase;
    font-family:'Merriweather','pridi';
    font-weight:600;
    font-size:xx-large;
    background-color: #213448;
    margin:0;
    height:200px;
    align-content: center;
}